<!DOCTYPE html>
<html lang="en">

<head>
    <title>Teams</title>
</head>

<body>
    <div class="container">
        <form action="/addTeam" method="POST">
            <div>
                <label>Name</label>
                <input type="text" class="form-control" placeholder="name" name="name">
            </div>
            <div>
                <label>Championship</label>
                <input type="text" class="form-control" placeholder="championship" name="championship">
            </div>
            <button type="submit">Submit</button>
        </form>
</body>

</html>