<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
</head>

<body>
  <div class="container">
    <form action="/addUser" method="POST">
      <div>
        <label>e-mail</label>
        <input type="text" class="form-control" placeholder="email" name="email">
      </div>
      <div>
        <label>Password</label>
        <input type="text" class="form-control" placeholder="password" name="password">
      </div>
      <div>
        <label for="admin">Admin:</label>
        <select name="admin">
          <option value=true>TRUE</option>
          <option value=false>FALSE</option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
</body>

</html>